@media only screen and (max-width: 600px) {
    body main {
      width: 60%;
    }
    body main #butDiv{
        width: 100%;
    }
  }
  @media only screen and (max-width: 1007px) and (min-width: 601px)  {
    body main {
        width: 50%;
      }
      body main #butDiv{
          width: 50%;
      }
  }

*{
    box-sizing: border-box;
    width: 100%;
   
}
#header {
    width: 100%;
    background-color: blue;
    height: 70px;
}
#footer{
    width: 100%;
    background-color: gray;
    height: 140px;
    position: absolute;
    bottom: 0;
}
main{
    width: 30%;
    background-color: white;
    margin: auto auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
main div {
    height: fit-content;
    margin-top: 20px;
}
main div input{
    padding: 8px 16px;
    border: solid 1px rgb(201, 196, 196);
   
}
#butDiv{
    
    align-self: flex-end;
    height: fit-content;
    width: 50%;
}

button{
    padding: 8px 16px;
    background-color: rgb(228, 28, 28);
    color: white;
    border: none;
    margin-bottom: 10px;
}
button:hover{
    cursor: pointer;
}
